/*PSEUDOELEMENTO: 
    ***FORMAN PARTE DEL DOM(SE PUEDE COPIAR Y PEGAR)***
    first line: solo funciona en elementos de bloque. Sirve para cambiar la primera linea de un bloque, haciendo que sea responsive la pagina(adaptable). Siempre la 1ra solo cambiara. 
    first letter: lo mismo q el anterior pero la 1er letra. 
    placeholder: en HTML es el que permite que un input se le ponga texto predefinido pero que aparece en gris, osea que cuando escribimos se va. 
    En CSS se ocupa para cambiar el estilo de este place holder.
    selection: sirve para cambiar las propiedades del sombreado de seleccion del click. 

    ***NO FORMAN PARTE DEL DOM(todos los q ocupen la etiqueta content)***
    after: Estos son HIJOS del elemento al que le estamos aplicando las modificaciones de este pseudoelemento.Este sirve para poner algo LUEGO de un elemento, este algo no puede copiarse ni sombrearse.  
    before: lo mismo que el after, pero al reves.*/

/*PSEUDOCLASES: 
    hover: es para poner efectos cuando el mouse este encima del elemento 
    link: sirve para que cuando se visite un link, cambie a color violeta. Y tambien para cambiar los efectos de link antes de visitarlo.
    visited: sirve para cambiar los efectos de un link que ya se visito (osea cuando aparece violeta y no azul)
    active: sirve para cuando dejas apreta un boton, cambien los estilos. 
    focus: sirve mas para los inputs, cuando lo enfocamos para escribir, cambian los estilos. 
    lang: es una funcion que permite modificar el estilo dependiendo los lenguajes que pusimos en nuestro HTML( tambien con lang)se pone b:lang(es). 
    ***CASI NI SE USA LANG****/

/*OBJET FIT: 
    Sirve para manejar las img. 
    Contein: mantiene las dimensiones reales de la imagen, por mas q cambiemos la caja, las resoluciones cambian. 
    Cover: se ajusta al contenedor, y recorta los bordes que sobran. 
    None: queda fija, no cambia nada, agranda la imagen a la resolucion que tiene que ser.
    Scale-Down: sirve para imagenes grandes, para que se vea bien la imagen. Agarra contein o none dependiendo cual tiene la resulcion mas baja en cada caso. */

/*OBJET POSITION:
    Sirve con cover, para ver que lado se muestra mas de la img, left, right, bottom, top. Tambien se pueden usar medidas tipo 1em por ej, 
    

